## NAME : AMAN GOUND
## ROLL : 26
## DATE : 2/26/26
### EXP: 5
#### ML LAB

In [71]:
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier

In [72]:
data = load_breast_cancer()
import pandas as pd
df = pd.DataFrame(data.data)

X = data.data
Y = data.target
print("Classes:",data.target_names)

Classes: ['malignant' 'benign']

In [73]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3)

In [74]:
df.shape

(569, 30)

In [75]:
df.isnull()

        0      1      2      3      4   ...     25     26     27     28     29
0    False  False  False  False  False  ...  False  False  False  False  False
1    False  False  False  False  False  ...  False  False  False  False  False
2    False  False  False  False  False  ...  False  False  False  False  False
3    False  False  False  False  False  ...  False  False  False  False  False
4    False  False  False  False  False  ...  False  False  False  False  False
..     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
564  False  False  False  False  False  ...  False  False  False  False  False
565  False  False  False  False  False  ...  False  False  False  False  False
566  False  False  False  False  False  ...  False  False  False  False  False
567  False  False  False  False  False  ...  False  False  False  False  False
568  False  False  False  False  False  ...  False  False  False  False  False

[569 rows x 30 columns]

In [76]:
df.describe()

               0           1           2   ...          27          28          29
count  569.000000  569.000000  569.000000  ...  569.000000  569.000000  569.000000
mean    14.127292   19.289649   91.969033  ...    0.114606    0.290076    0.083946
std      3.524049    4.301036   24.298981  ...    0.065732    0.061867    0.018061
min      6.981000    9.710000   43.790000  ...    0.000000    0.156500    0.055040
25%     11.700000   16.170000   75.170000  ...    0.064930    0.250400    0.071460
50%     13.370000   18.840000   86.240000  ...    0.099930    0.282200    0.080040
75%     15.780000   21.800000  104.100000  ...    0.161400    0.317900    0.092080
max     28.110000   39.280000  188.500000  ...    0.291000    0.663800    0.207500

[8 rows x 30 columns]

In [77]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

In [78]:
df.head()

      0      1       2       3   ...      26      27      28       29
0  17.99  10.38  122.80  1001.0  ...  0.7119  0.2654  0.4601  0.11890
1  20.57  17.77  132.90  1326.0  ...  0.2416  0.1860  0.2750  0.08902
2  19.69  21.25  130.00  1203.0  ...  0.4504  0.2430  0.3613  0.08758
3  11.42  20.38   77.58   386.1  ...  0.6869  0.2575  0.6638  0.17300
4  20.29  14.34  135.10  1297.0  ...  0.4000  0.1625  0.2364  0.07678

[5 rows x 30 columns]

In [79]:
df.tail()

        0      1       2       3   ...      26      27      28       29
564  21.56  22.39  142.00  1479.0  ...  0.4107  0.2216  0.2060  0.07115
565  20.13  28.25  131.20  1261.0  ...  0.3215  0.1628  0.2572  0.06637
566  16.60  28.08  108.30   858.1  ...  0.3403  0.1418  0.2218  0.07820
567  20.60  29.33  140.10  1265.0  ...  0.9387  0.2650  0.4087  0.12400
568   7.76  24.54   47.92   181.0  ...  0.0000  0.0000  0.2871  0.07039

[5 rows x 30 columns]

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       569 non-null    float64
 1   1       569 non-null    float64
 2   2       569 non-null    float64
 3   3       569 non-null    float64
 4   4       569 non-null    float64
 5   5       569 non-null    float64
 6   6       569 non-null    float64
 7   7       569 non-null    float64
 8   8       569 non-null    float64
 9   9       569 non-null    float64
 10  10      569 non-null    float64
 11  11      569 non-null    float64
 12  12      569 non-null    float64
 13  13      569 non-null    float64
 14  14      569 non-null    float64
 15  15      569 non-null    float64
 16  16      569 non-null    float64
 17  17      569 non-null    float64
 18  18      569 non-null    float64
 19  19      569 non-null    float64
 20  20      569 non-null    float64
 21  21      569 non-null    float64
 22  22      569 non-null    float64
 23  23      569 non-null    float64
 24  24      569 non-null    float64
 25  25      569 non-null    float64
 26  26      569 non-null    float64
 27  27      569 non-null    float64
 28  28      569 non-null    float64
 29  29      569 non-null    float64
dtypes: float64(30)
memory usage: 133.5 KB

In [81]:
lr = LogisticRegression(max_iter=5000)
lr.fit(x_train, y_train)
pred_lr = lr.predict(x_test)
print("Logistic TestAccuracy:", accuracy_score(y_test, pred_lr))
pred_lr_train = lr.predict(x_train)
print("Logistic TrainAccuracy:", accuracy_score(y_train, pred_lr_train))

Logistic TestAccuracy: 0.9532163742690059
Logistic TrainAccuracy: 0.957286432160804

In [82]:
MLP =  MLPClassifier(max_iter=2000)
MLP.fit(X_train, Y_train)
pred_MLP = MLP.predict(X_test)
print("MLP TestAccuracy:", accuracy_score(Y_test, pred_MLP))
pred_MLP_train = MLP.predict(X_train)
print("MLP TrainAccuracy:", accuracy_score(Y_train, pred_MLP_train))

MLP TestAccuracy: 0.9415204678362573
MLP TrainAccuracy: 0.9396984924623115

In [83]:
GNB =  GaussianNB()
GNB.fit(X_train, Y_train)
pred_GNB = GNB.predict(X_test)
print("GNB TestAccuracy:", accuracy_score(Y_test, pred_GNB))
pred_GNB_train = GNB.predict(X_train)
print("GNB TrainAccuracy:", accuracy_score(Y_train, pred_GNB_train))

GNB TestAccuracy: 0.9181286549707602
GNB TrainAccuracy: 0.9371859296482412

In [84]:
#ECISION TREE
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
pred_dt = dt.predict(x_test)
print("Decision Tree TestAccuracy:", accuracy_score(y_test, pred_dt))
pred_dt_train = dt.predict(x_train)
print("Decision Tree TrainAccuracy:", accuracy_score(y_train, pred_dt_train))

Decision Tree TestAccuracy: 0.9181286549707602
Decision Tree TrainAccuracy: 1.0

In [85]:
KNN =  KNeighborsClassifier()
KNN.fit(X_train, Y_train)
pred_KNN = KNN.predict(X_test)
print("KNN TestAccuracy:", accuracy_score(Y_test, pred_KNN))
pred_KNN_train = KNN.predict(X_train)
print("KNN TrainAccuracy:", accuracy_score(Y_train, pred_KNN_train))

KNN TestAccuracy: 0.9415204678362573
KNN TrainAccuracy: 0.9422110552763819

In [86]:
precision = precision_score(Y_test, pred_lr)
recall = recall_score(Y_test, pred_lr)
f1 = f1_score(Y_test, pred_lr)
roc = roc_auc_score(Y_test, pred_lr)
print("precision   :",precision)
print("recall      :",recall)
print("f1_score    :",f1)
print("roc_auc_score:",roc)

precision   : 0.5925925925925926
recall      : 0.6274509803921569
f1_score    : 0.6095238095238096
roc_auc_score: 0.4948849104859335

In [87]:
#decision
precision = precision_score(Y_test, pred_dt)
recall = recall_score(Y_test, pred_dt)
f1 = f1_score(Y_test, pred_dt)
roc = roc_auc_score(Y_test, pred_dt)
print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)
print("ROC-AUC:", roc)

Precision: 0.5961538461538461
Recall: 0.6078431372549019
F1-Score: 0.6019417475728155
ROC-AUC: 0.49957374254049447

In [88]:
#knn
precision = precision_score(Y_test, pred_KNN)
recall = recall_score(Y_test, pred_KNN)
f1 = f1_score(Y_test, pred_KNN)
roc = roc_auc_score(Y_test, pred_KNN)

# 9. Print results
print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)
print("ROC-AUC:", roc)

Precision: 0.9423076923076923
Recall: 0.9607843137254902
F1-Score: 0.9514563106796117
ROC-AUC: 0.93691389599318

In [89]:
precision = precision_score(Y_test, pred_GNB)
recall = recall_score(Y_test, pred_GNB)
f1 = f1_score(Y_test, pred_GNB)
roc = roc_auc_score(Y_test, pred_GNB)

print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)
print("ROC-AUC:", roc)

Precision: 0.94
Recall: 0.9215686274509803
F1-Score: 0.9306930693069307
ROC-AUC: 0.9173060528559249

In [90]:

precision = precision_score(Y_test, pred_MLP)
recall = recall_score(Y_test, pred_MLP)
f1 = f1_score(Y_test, pred_MLP)
roc = roc_auc_score(Y_test, pred_MLP)
print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)
print("ROC-AUC:", roc)

Precision: 0.9339622641509434
Recall: 0.9705882352941176
F1-Score: 0.9519230769230769
ROC-AUC: 0.9345694799658995

##CONFUSION MATRIX

In [91]:
cm_lr = confusion_matrix(Y_test, pred_lr)
print("\nLogistic Regression Confusion Matrix:")
print(cm_lr)
TN2, FP2, FN2, TP2 = cm_lr.ravel()
type1_lr = FP2 / (FP2 + TN2)
type2_lr = FP2 / (FP2 + TN2)

print("FP (Type-â… ):", FP2)
print("FP (Type-â…¡):", FP2)
print("Type-â…  Error Rate in %:", type1_lr*100)
print("Type-â…¡ Error Rate in %:", type2_lr*100)

Logistic Regression Confusion Matrix:
[[25 44]
 [38 64]]
FP (Type-â… ): 44
FP (Type-â…¡): 44
Type-â…  Error Rate in %: 63.76811594202898
Type-â…¡ Error Rate in %: 63.76811594202898

In [92]:
cm_dt = confusion_matrix(Y_test, pred_dt)
print("\nDecision Tree Confusion Matrix:")
print(cm_dt)
TN2, FP2, FN2, TP2 = cm_dt.ravel()
type1_dt = FP2 / (FP2 + TN2)
type2_dt = FP2 / (FP2 + TN2)

print("FP (Type-â… ):", FP2)
print("FP (Type-â…¡):", FP2)
print("Type-â…  Error Rate in %:", type1_dt*100)
print("Type-â…¡ Error Rate in %:", type2_dt*100)

Decision Tree Confusion Matrix:
[[27 42]
 [40 62]]
FP (Type-â… ): 42
FP (Type-â…¡): 42
Type-â…  Error Rate in %: 60.86956521739131
Type-â…¡ Error Rate in %: 60.86956521739131

In [93]:
cm_KNN = confusion_matrix(Y_test, pred_KNN)
print("\nK Nearest Neighbors Confusion Matrix:")
print(cm_KNN)
TN2, FP2, FN2, TP2 = cm_KNN.ravel()
type1_KNN = FP2 / (FP2 + TN2)
type2_KNN = FP2 / (FP2 + TN2)

print("FP (Type-â… ):", FP2)
print("FP (Type-â…¡):", FP2)
print("Type-â…  Error Rate in %:", type1_KNN*100)
print("Type-â…¡ Error Rate in %:", type2_KNN*100)

K Nearest Neighbors Confusion Matrix:
[[63  6]
 [ 4 98]]
FP (Type-â… ): 6
FP (Type-â…¡): 6
Type-â…  Error Rate in %: 8.695652173913043
Type-â…¡ Error Rate in %: 8.695652173913043

In [94]:
cm_GNB = confusion_matrix(Y_test, pred_GNB)
print("\nK Nearest Neighbors Confusion Matrix:")
print(cm_GNB)
TN2, FP2, FN2, TP2 = cm_GNB.ravel()
type1_GNB = FP2 / (FP2 + TN2)
type2_GNB = FP2 / (FP2 + TN2)

print("FP (Type-â… ):", FP2)
print("FP (Type-â…¡):", FP2)
print("Type-â…  Error Rate in %:", type1_GNB*100)
print("Type-â…¡ Error Rate in %:", type2_GNB*100)

K Nearest Neighbors Confusion Matrix:
[[63  6]
 [ 8 94]]
FP (Type-â… ): 6
FP (Type-â…¡): 6
Type-â…  Error Rate in %: 8.695652173913043
Type-â…¡ Error Rate in %: 8.695652173913043